@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Inter, sans-serif;
  background-color: #e4fffe;
  color: #332E3C; 
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  min-height: 100vh;
}

a {
    color: #FFECB3;
    text-decoration: none;
    padding: 10px 20px;
}

h1 {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #332E3C;
}

p {
  text-align: center;
  margin: 10px 0;
  font-family: Playfair Display, serif;
}

li {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* Header */
header {
  background-color: #e4fffe;
  color: #FFFFFF;
  padding: 0px 30px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: end;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.nav-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #332E3C;
    background: #F0E6EF;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    transition: background ease 250ms, color ease 250ms;
}

.nav-link:hover {
    background: #e5ffe4 ;
    opacity: 0.7;
    cursor: pointer;
}


.nav-link.active {
    background: #f7ffe4;
    color: #332E3C;
}

/* Main */

.todo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 0px 30px;
    background-color: #f7ffe4;
    border-radius: 0px 5px 5px 5px;
}

.addtodo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 70px;
    margin: 0px 30px;
    background-color: #f7ffe4;
    border-radius: 0px 5px 5px 5px;
}

/* Footer */
footer {
  background-color: #e4fffe;
  color: #332E3C;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px 0px;
}